body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #A0522D;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

p {
    text-align: left;
}

h1 {
    text-align: center;
}

.button {
    display: inline;
    color: #fff;
    background-color: #DC143C;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#addGame {
    text-align: left;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

#addGameForm {
    text-align: left;
    width: 300px;
    margin: auto;
    padding: 10px;
}

#addGameForm span {
    display: block;
}

#content {
    margin: auto;
    width: 960px;
}